@{
    ViewData["Title"] = "Home Page";
}
@model ICollection<BookStoreFront.Models.Responses.Book.BookDTO>;

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Welcome to my pet project "Book Store"</a>.</p>
        
    <p>@ViewData["isDescription"]</p>
    
    @if (bool.TryParse(ViewData["isDescription"].ToString(), out bool bit))
   {
        <p>@ViewData["Description"]</p>   
   }
    
    
    <p>@ViewBag.FreeText</p>

    

    @foreach (var item in Model)
        {
            
            <div class="card">
            
                <div class="card-body">
                    <h2 class="card-title">
                        @item.Title

                    </h2>
                </div>
            </div>
        }
</div>
