@model BookStoreFront.Models.ViewModels.CreateGenreViewModel
<form method="post">
    <div>
        <label class="form-label">Name</label>
        <input class="form-control" asp-for=Name />
    </div>    
    <button class="btn btn-primary" type="submit">Submit</button>
</form>
